body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
}

/* LAYOUT CSS */
#layout {
    padding-left:150px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-150px; /* "left col (nav + list)" width */
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0;
    -webkit-app-region: drag;
}
    #nav li {
        -webkit-app-region: no-drag;
    }

#list {
    margin-left: -350px;
    width:350px;
    border-right: 1px solid #ddd;
    display: none;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}



/* Vertical Navigation Styles */
#nav .title {
    font-size: 18px;
    margin: -5px auto 10px;
    display: block;
}
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    #nav .pure-menu-select {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .blog-count {
        color: rgb(75, 113, 151);
    }

    .blog-label-personal,
    .blog-label-work,
    .blog-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    .blog-label-personal {
        background: #ffc94c;
    }
    .blog-label-work {
        background: #41ccb4;
    }
    .blog-label-travel {
        background: #40c365;
    }




/* blog Item Styles */
.blog-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    cursor: pointer;
}
    .blog-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .blog-time,
    .blog-subject {
        margin: 0;
    }
    .blog-time {
        text-transform: uppercase;
        color: #999;
        margin-top: 5px;
    }
    .blog-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.blog-item-selected {
    background: #eee;
}
.blog-item-unread {
    border-left: 6px solid #02a3c6;
}

/* blog Content Styles */
.blog-content-header, .blog-content-body, .blog-content-footer {
    padding: 1em 2em;
}
    .blog-content-header {
        border-bottom: 1px solid #ddd;
    }

        .blog-content-title {
            margin: 0.5em 0 0;
        }
        .blog-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .blog-content-subtitle span {
                color: #999;
            }
    .blog-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .blog-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

#layout {
    padding-left: -150px;
}
#title-bar {
    left: 150px;
    height: 40px;
    -webkit-app-region: drag;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-shadow: 0px 1px 2px #d9d9d9;
    box-shadow: 0px 1px 2px #d9d9d9;
}
    .title-bar-control:hover {
        color: #00aff0;
        background: #d7f4ff;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    .title-bar-control {
        -webkit-app-region: no-drag;
        margin: 5px 5px 5px 0;
        padding-left: 7px;
        position: relative;
        width: 23px;
        height: 30px;
        line-height: 35px;
        color: #888;
        cursor: pointer;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
.footer-bar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 45px;
    width: 100%;
    background: #00aff0;
    bottom: 0;
    color: white;
}
.round-icon {
    display: block;
    width: 30px;
    height: 23px;
    padding-top: 6px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
    float: right;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.round-icon:hover {
    color: #00aff0;
    background: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.tab-content {
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 150px;
    overflow: auto;
    width: auto; /* so that it's not 100% */
}
.hide { display: none;}

.title, .pure-menu-heading {
    cursor: default;
}

#logo {
    width: 50px;
    margin-top: -20px;
    margin-bottom: 5px;
}
#editor {
    height: 600px;
    font-size: 12px;
}

.page-content { padding-top: 20px; padding-left: 50px;}